# # Python-related files
# *.pyc
# __pycache__/

# # Virtual environment
# venv/
# env/
# travelenvornmnt/

# # Django-related files
# db.sqlite3
# *.log

# # Media and static files
# /media/
# /staticfiles/
# static

# # VSCode
# .vscode/

# # IDEs
# .idea/

# # Secrets
# .env


# Python-related files
*.pyc
__pycache__/

# Virtual environments
venv/
env/
travelenvornmnt/
*/env/
*/venv/

# Django-related files
db.sqlite3
*.log

# Media and static files
/media/
/staticfiles/
static/

# VSCode
.vscode/

# IDEs
.idea/

# Secrets
.env
*.env.*
