{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
<title>An Ocean of Sky</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'usrpackage/anoceanofsky.css'  %}" />
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
<div id="page">
  <div class="topNaviagationLink"><a href="{% url 'index' %}">Home</a></div>

</div>
<div id="mainPicture">
  <div class="picture">
    <div id="headerTitle">TOURS AND TRAVELS</div>
    <div id="headerSubtext">Awesome Trails!......</div>
  </div>
</div>
<div class="contentBox">
  <div class="innerBox">
    <div class="contentTitle">View Our Packages!.....</div><br>
      </br></br><br>

    <div class="contentText">
      <ul>

        {% for package_details in package_detail %}
            <li>
                <strong>Package Name:</strong> {{ package_details.package_name }}<br>
                <strong>Place:</strong> {{ package_details.place }}<br>
                <strong>Package Type:</strong> {{ package_details.package_type }}<br>
                <strong>Description:</strong> {{ package_details.description }}<br>
                <strong>Image:</strong> <img src="{{ package_details.image.url }}" alt="{{ package_details.package_type }} image" width="200"><br>
                <strong>Total Days:</strong> {{ package_details.total_days }}<br>
                <strong>total_amount:</strong> {{ package_details.total_amount }}<br>

                <strong>Go Flights:</strong>
                <ul>
                    {% for go_flight in package_details.go_flights.all %}
                        <li>{{ go_flight.flight_no }} {{ go_flight.departure_city }} to {{ go_flight.arrival_city }} ({{ go_flight.departure_date }})</li>
                    {% endfor %}
                </ul>

                <strong>Return Flights:</strong>
                <ul>
                    {% for return_flight in package_details.return_flights.all %}
                        <li>{{ return_flight.flight_no }} {{ return_flight.departure_city }} to {{ return_flight.arrival_city }} ({{ return_flight.departure_date }})</li>
                    {% endfor %}
                </ul>
                <strong>Inclusion:</strong> {{ package_details.inclusion }}<br>
                <div class="buttons-container">
                    <button class="edit-button">
                        <a href="{% url 'user_viewdayplanner' package_details.id packageplaceid %}">View</a></button>
                </div><br><br>
                <hr>

            </li>
        {% endfor %}
    </ul>
    </div>
  </div>
</div>
<div id="footer"><a href="http://www.aszx.net">web development</a> by <a href="http://www.bryantsmith.com">bryant smith</a> | <a href="http://validator.w3.org/check?uri=referer">valid xhtml</a> | <a href="http://jigsaw.w3.org/css-validator">valid css</a></div>
</form>
</body>
</html>
